<div class="container">
  <h1>Raffles</h1>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>Title</th>
      <th></th>
      <th>Ends</th>
      <th>Tickets Left</th>
      <th>Ticket price</th>
    </tr>
    </thead>

    <tbody>
    <% @raffles.each do |raffle| %>
      <tr>
        <td><%= link_to raffle.title, raffle %></td>
        <td><%= image_tag raffle.image.url(:thumb), width: '50px' %></td>
        <td><%= raffle.end_time.strftime('%D') if raffle.end_time -%></td>
        <td>
          <% if raffle.ticket_max -%>
            <%= raffle.ticket_max - raffle.tickets.count %>
          <% end -%>
        </td>
        <td><%= number_to_currency(raffle.ticket_price) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>