<%= form_for(@ticket) do |f| %>
  <% if @ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
      <% @ticket.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :winner %><br>
    <%= f.check_box :winner %>
  </div>
  <div class="field">
    <%= f.label :raffle_id %><br>
    <%= f.number_field :raffle_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
